/*How to align information to left, right, & center*/
.watcher-center{text-align:center!important}
.watcher-left-align{text-align:left!important}
.watcher-right-align{text-align:right!important}

/*Changing the font/font family*/
html, body{font-family:Georgia; font-size:14px; line-height:1.5}
html{overflow-x:hidden}
h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}
h1,h2,h3,h4,h5,h6{font:Georgia; font-weight:400; margin:10px 0}

/*Padding*/
.watcher-padding-12{padding-top:6px!important;padding-bottom:6px!important}

/*Background*/
.watcher-gradient{background: rgb(111,22,255);
    background: linear-gradient(90deg, rgba(111,22,255,0.9417892156862745) 35%, rgba(173,0,252,1) 100%);}

/*Text Colors*/
.watcher-text-black,.watcher-hover-text-black:hover{color:#000!important}
.watcher-text-white,.watcher-hover-text-white:hover{color:#fff!important}

/*Header Bar*/
header{
    background: #52307c
}
.nav-links{
    text-decoration: none;
    color:#fff
}

.nav-links:hover{
    text-decoration: underline;
}

/*Container*/
.watcher-container{width:80%; margin:0 auto}